* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Inter', sans-serif;
    color: #fff;
}
#principal {
    background: #17133E;
}
#principal nav .navbar-brand{
    margin-top: -15%;
    margin-left: -17%;
}

#principal nav a {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
}

#principal nav a:hover {
    transform: scale(1.1);
    transition: all ease .3s;
}

#principal nav .login {
    background: #42F265;
    border-radius: 20px;
    width: 100px;
    padding-left: 23px;
    font-weight: 400;
}

#principal nav .login:hover {
    opacity: .5;
}

#principal .titulo h1 {
    font-size: 50px;
    font-weight: 300;
}

#principal .paragrafo p {
    font-size: 25px;
    font-weight: 200;
}

#principal .botao {
margin-left: -20px;
}

#principal .botao .b1:hover {
    opacity: .6;
    transition: .3s;
}

#principal .botao .b1 {
background: linear-gradient(to left,#0DE338, #6EFF8B);
text-decoration: none;
border-radius: 20px;
color: #fff;
width: 35%;
height: 40px;
}

#principal .botao .b2 {
text-decoration: none;
color: #fff;
background: rgba(255,255,255,.1);
border-radius: 20px;
width: 35%;
height: 40px;
}

#principal .botao .b2:hover{
    opacity: .6;
    transition: .3s;
}

#principal .imagem {
    margin-top: -10%;
}


#servicos {
  color: #17133E;
}

#servicos .borda1 {
    border-top: 10px solid #47F4FD;
    width: 20%;
    border-radius: 20px;
}

#servicos .titulo h3 {
    font-size: 35px;
    max-width: 550px;
    font-weight: 400;
}

#servicos .logo {
    
}

#servicos .borda2 {
  border-bottom: 10px solid #47F4FD;
  width: 30%;
  margin-top: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}


#pagamentos {
    color: #17133E;
    background: url('../img/raio.svg') no-repeat;
    background-size: 10%;
    background-position-x: -3%;
    background-position-y: 40%;
}

#pagamentos .borda1 {
    border-top: 10px solid #47f4fd;
    width: 20%;
    border-radius: 20px;
}

#pagamentos .titulo h3 {
    font-size: 35px;
    max-width: 550px;
    font-weight: 400;
}

#pagamentos .tab {
    outline: none;
    transition: .3s;
    margin-left: -10px;
}

#pagamentos .tab button {
    margin-left: 20px;
    background: transparent;
    border: 1px solid rgba(0,0,0,.2);
    width: 15%;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
}

#pagamentos button:hover {
    background: #47F4FD;
    transform: scale(1.1);
}

#pagamentos button.active {
    background: #47F4FD;
}

#pagamentos .tabcontent {
    display: none;
    margin-top: 100px;
}

#pagamentos .tabcontent .paragrafo1 p {
    font-size: 20px;
    max-width: 420px;
    color: #656565;
}

#pagamentos .tabcontent .botao1 button {
    background: linear-gradient(to left,#0AE235, #6EFF8B);
    color: #fff;
    font-weight: 500;
    width: 50%;
    height: 50px;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 30px;
    transform: none;
}


#pagamentos .tabcontent .botao1 button:hover {
    opacity: .6;
    transition: .3s;
}


#conta {
    color: #221551;
    background: url('../img/celular2.png') no-repeat, #F3F6FD;
    background-position-x: 105%;
    background-position-y: 60% ;
}

#conta .titulo h3 {
    margin-top: 15%;
    font-size: 35px;
    max-width: 450px;
    font-weight: 400;
}

#conta .borda {
    border-bottom: 10px solid#47F4FD;
    width: 40%;
    border-radius: 20px;
}

#conta .paragrafo p {
    max-width: 450px;
    font-size: 18px;
    color: #656565;
}

#conta .imagem {
    width: 70%;
    margin-top: 10%;
}

#conta .botao button {
    background: linear-gradient(to left,#0AE235, #6EFF8B);
    color: #fff;
    font-weight: 500;
    width: 50%;
    height: 50px;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 20px;
    transform: none;
}

#conta .botao button:hover {
    opacity: .6;
    transition: .3s;
}

#simplificar {
    color: #221551;
    background: url('../img/raio.svg') no-repeat;
    background-position-x: 95%;
    background-size: 8%;
    background-position-y: 100%;
}

#simplificar .titulo h3 {
    margin-top: 15%;
    font-size: 35px;
    max-width: 400px;
    font-weight: 400;
}

#simplificar .borda {
    border-bottom: 10px solid#47F4FD;
    width: 40%;
    border-radius: 20px;
}

#simplificar .paragrafo p {
    max-width: 450px ;
    font-size: 18px;
    color: #656565;
}

#simplificar .botao button {
    background: linear-gradient(to right,#FF8700, #FFBB6E);
    color: #fff;
    font-weight: 500;
    width: 50%;
    height: 50px;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 20px;
    transform: none;
}

#simplificar .botao button:hover {
    opacity: .6;
    transition: .3s;
}

#simplificar .imagem {
    width: 90%;
    margin-top: 10%;
}

#debito {
    color: #221551;
    background: url('../img/raio.svg') no-repeat;
    background-size: 10%;
    background-position-x: 20%;
    background-position-y: 70%;
}

#debito .titulo h3 {
    margin-top: 15%;
    font-size: 35px;
    max-width: 400px;
    font-weight: 400;
}

#debito .borda {
    border-bottom: 10px solid#47F4FD;
    width: 40%;
    border-radius: 20px;
}

#debito .paragrafo p {
    max-width: 450px ;
    font-size: 18px;
    color: #656565;
}

#debito .botao button {
    background: linear-gradient(to right,#FF8700, #FFBB6E);
    color: #fff;
    font-weight: 500;
    width: 50%;
    height: 50px;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 20px;
    transform: none;
}

#debito .botao button:hover {
    opacity: .6;
    transition: .3s;
}

#debito .imagem {
    margin-top: 30%;
}

#parceiro {
    color: #221551;
    background: url('../img/celular2.png') no-repeat;
    background-position-x: -5%;
    background-size: 11%;
    background-position-y: 100%;
}

#parceiro .titulo1 h3 {
    margin-top: 15%;
    font-size: 35px;
    max-width: 350px;
    font-weight: 400;
}

#parceiro .borda1 {
    border-bottom: 10px solid#47F4FD;
    width: 35%;
    border-radius: 20px;
}

#parceiro .paragrafo p {
    max-width: 400px;
    color: #656565;
}

#parceiro .borda2 {
    border-right: 2px solid rgba(0,0,0,0.1);
    height: 30vh;
    margin-top: -55%;
}

#parceiro .titulo2 {
    margin-top: 15%;
    font-size: 35px;
    max-width: 350px;
    font-weight: 400;
}

#parceiro .borda3 {
    border-bottom: 10px solid#47F4FD;
    width: 35%;
    border-radius: 20px;
}

#parceiro form {
    display: flex;
    flex-direction: column;
}

#parceiro form input {
    border: 1px solid black;
    width: 60%;
    height: 50px;
    border-radius: 40px;
}

#parceiro button {
    background: #0AE235;
   
    color: #fff;
    font-weight: 500;
    width: 60%;
    height: 50px;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 20px;
    transform: none;
}

#parceiro button:hover {
    opacity: .6;
    transition: .3s;
}

#footer {
    background: #221551;
    align-items: center;
}

#footer p {
    font-weight: 200;
}

#footer .logo img {
    width: 20%;
}

#footer .links a {
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
    font-weight: 200;
}

#footer .links a:hover {
    opacity: .6;
    transition: .3s;
}

#footer .icons {
    margin-left: -50px;
    margin-top: 20px;
}

#footer .icons a {
    margin-left: 30px;
    text-decoration: none;
}

#footer .icons a:hover {
    opacity: .6;
    transition: .3s;
    transform: scale(1.2);
}

@media screen and (max-width: 425px) {

#principal {
    text-align: le;
}

    #principal .navbar-brand img {
        width: 80%;
        margin-top: -0%;
        margin-left: -25%;
    }
    

    #principal .navbar-toggler {
        margin-top: -60%;
    }

    #principal .imagem img {
        display: none;;
    }

    #principal .botao {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #principal .botao a {
       margin-top: 20px;
    }

    #principal .botao .b1 {
        width: 300px;
    }
    
    #principal .botao .b2 {
        width: 300px;
    }

    #servicos .logo {
        text-align: center;
    }

    #servicos .borda2 {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #servicos .paragrafo {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20%;
    }

    #pagamentos .imagem1 img {
        width: 100%;
    }
    
    #debito .imagem img {
        width: 100%;
    }

    #pagamentos {
        background-size: 40%;
        background-position-y: 90%;
        background-position-x: 95%;
    }

    #pagamentos .tab {
        overflow: auto;
        white-space: nowrap;
        justify-content: center;
    }

    #pagamentos .tab button {
        width: 150px;
    }

    #pagamentos .botao1 {
        margin-bottom: 30px;
    }

    #pagamentos .botao1 button {
        width: 400px;
        line-height: 20px;
    }

    #conta {
        background-size: 50%;
        background-position-y: 10%;
    }

    #conta .botao button {
        line-height: 20px;
    }

    #simplificar {
        background-size: 50%;
        background-position-y: 75%;
    }

    #simplificar .botao button {
        line-height: 20px;
    }

    #debito {
        background-size: 50%;
        background-position-y: 15%;
    }

    #debito .botao button {
        line-height: 20px;
    }

    #parceiro {
        background: none;
    }

    #parceiro .borda2 {
        display: none;
    }

    #footer {
        font-size: 10px;
    }

    #footer p {
        font-size: 10px;
        max-width: 600px;
        display: none;
    }

    #footer .logo {
       width: 200px;
       margin-left: -50px;
    }

    #footer .links  {
        margin-left: -40px;
        display: flex;
        flex-direction: row;
        text-align: left;
        display: none;
    }
}